*{
    margin: 0px;
    padding: 0px;
}

  body{
    background-color: rgb(250, 250, 250);
  }

  h1{
    
     text-align: center;
    margin-top: 1%;
    color:rgb(0, 0, 0);

  }

.choices  {
   display: flex;   
   flex-direction: row;        
  justify-content: center;  
  gap: 20px;                
  padding: 20px;
  
}

  .choice img{
    height: 120px;
    width: auto;
    border-radius: 50%;
    transition: transform 0.3s ease; /* Smooth animation */
}

.choice img:hover {
  transform: scale(1.15); /* Zoom in by 20% on hover */
}

  
    .score-board{
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10%;
        margin-top: 2%;
        font-size: 25px;
    }
   .msg-container{
    margin-top: 2%;
    text-align: center;

   }

   #msg {
    display: inline-block;       /* makes width of the box to fit the text */
  background-color: #a2cef4;        /* Light green */
  padding: 12px 24px;
  border-radius: 10px;
  
  font-size: 20px;
  font-weight: 500;
  color: #fffefe;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-size: 25px;
}